body {
	&.admin-bar {
		margin-top: -32px;
	}
}

.outer-container {
  position: relative;
  @include outer-container(rem(1024));
  padding: 0 $size_container_padding;
  box-sizing: content-box;
}

.site-content {
	margin-top: rem(100);
	@include media($screen_md) {
		margin-top: rem(140);
	}
	.home & {
		margin-top: 0;
	}
}

.site-nav {
	display: block;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}