
/* Typography
 * ------------------------------------------ */

html {
	font-size: 100%;
	@include media($screen-lg) {
		font-size: 112.5%;
	}
}

body,
button,
input,
select,
textarea {
	color: $color_text_main;
	font-family: $font_main;
	font-weight: 300;
	// -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;
}

hr {
	background-color: $color_background_hr;
	border: 0;
	height: 2px;
	margin: 2rem 0;
	width: 100%;
}

/* Headings
 * ------------------------------------------ */
h1, h2, h3, h4, h5, h6 {
	/* Change heading typefaces here */
	font-family: $font_heading;
	font-weight: 300;
	// color: $color_text_heading;
	margin-top: 1.5rem;
	margin-bottom: 0;
	line-height: 1.5rem;
}
h1, .h1 {
	font-size: rem(32);
	line-height: rem(34);
	margin-top: rem(28);
	@include media($screen-md) {
		font-size: rem(54);
		line-height: rem(58);
		margin-top: rem(48);
	}
}
h2, .h2 {
	font-size: rem(26);
	line-height: rem(32);
	margin-top: 1.6rem;
	@include media($screen-md) {
		font-size: rem(34);
		line-height: rem(40);
		margin-top: 2.5rem;
	}
}
h3, .h3 {
	font-size: rem(22.4);
    line-height: rem(28.8);
    margin-top: 1.5rem;
    @include media($screen-md) {
    	font-size: rem(28);
    	line-height: rem(32);
    	margin-top: 2rem;
    }
}
h4, .h4 {
	font-size: rem(19.2);
	line-height: rem(26.4);
	margin-top: 1.5rem;
	@include media($screen-md) {
		font-size: rem(22);
		line-height: rem(28);
	}
}
h5, .h5 {
	font-size: rem(18);
	line-height: rem(24);
	margin-top: 1.5rem;
}
h6, .h6 {
	font-size: rem(18);
	line-height: rem(24);
	margin-top: 1.5rem;
}

/* Copy
 * ------------------------------------------ */

p {
	line-height: 1.5rem;
	margin-top: 1.5rem;
	margin-bottom: 0;
}

b, strong {
	font-weight: 700;
}

dfn, em, i {
	font-style: italic;
}

cite {
	font-style: normal;
}

blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: $color_blockquote;
  @include font-size(1.5);
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color_background_pre;
	font-family: $font_pre;
	@include font-size(1);
	line-height: $font_line_height_pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font_code;
	font-weight: 900;
	font-size: 0.9em;
	color: $color_code;
	vertical-align: bottom;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

small,
.small {
	font-size: 75%;
}

big,
.big {
	font-size: 125%;
}

/* Leading paragraph text */
.lead {
  font-size: 1.414rem;
}
/* Hug the block above you */
.hug {
  margin-top: 0;
}

@each $key, $value in $color_map {
  .text-#{$key} {
    color: $value;
  }
}