.page-template-page-contact {
	.cta-tiles {
		margin-top: 0;
	}
	.content-area {
		padding-bottom: rem(270);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		@include media($screen-lg) {
			padding-bottom: rem(200);
		}

		h2, h3, p, a {
			color: $blue;
		}
		a {
			@include link-color($blue, $red);
			@include text-underline($red);
			@include text-underline-hover($red);
		}
	}
}